* {
  background-color: rgba(43,56,54,0.0);
  padding: 0px;
}

label {
  font-size: 18px;
  color: #ffffff;
}

#toolbox {
  border-radius: 25px;
  border: 3px solid #212B2A;
  background: #336699;
  padding: 0px 15px;
}

#box1 {
  padding: 0px 20px;
  letter-spacing: 9px;
}

#title_label {
  font: bold 25px arial;
  margin-top: 5px;
}

#extra_label {
  margin-top: 5px;
}

#progressbar {
  min-width: 500px;
  margin: 0em 1em;
}

#osd_label {
  font: bold 40px arial;
}
